<nav class="nav p-4 bg-light fixed-top">
	<div class="container">
		<div class="row">
			<div class="col">
				<a class="nav-link" href="/">Home</a>
			</div>
			<div class="col row justify-content-end">
				<a class="nav-link col-2" href="/login">Log In</a>
				<a class="nav-link col-2" href="#">Sign Up</a>
			</div>
		</div>
	</div>
</nav>
