<footer class="footer mt-auto row bg-light py-5">
	<div class="col"></div>
	<div class="col"></div>
	<div class="col"></div>
	<div class="col"></div>
	<div class="col">
		<ul class="nav flex-column">
			<li class="nav-item mb-2"><a href="#" class="nav-link p-2 text-muted">Home</a></li>
			<li class="nav-item mb-2"><a href="#" class="nav-link p-2 text-muted">Features</a></li>
			<li class="nav-item mb-2"><a href="#" class="nav-link p-2 text-muted">Pricing</a></li>
			<li class="nav-item mb-2"><a href="#" class="nav-link p-2 text-muted">FAQs</a></li>
			<li class="nav-item mb-2"><a href="#" class="nav-link p-2 text-muted">About</a></li>
		</ul>
	</div>
	<div class="col"></div>
</footer>
